<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.css")>
</head>
<body>
    <div class="logo">
        <a href="#">
            <img src="~/Content/images/logo.png" alt="travel html5 template" title="travel html5 template">
        </a>
    </div> <!-- /.logo -->
    @if (Session["UserName"] != null)
    {
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Profile</div>
            <div class="card-body">
                <img class="card-img-top" src="@Url.Content(Session["UserImage"].ToString())" alt="Card image" style="width:100%">
                <h4 class="card-title">Profile Details</h4>
                <p class="card-text">First Name: @Session["FirstName"]</p>
                <p class="card-text">Last Name: @Session["LastName"]</p>
                <p class="card-text">Email: @Session["Email"].</p>
                <p class="card-text">Phone Number: @Session["Phone"]</p>
                <p class="card-text">User Role: @Session["UserRole"]</p>
            </div>
        </div>


        <div>
           @Html.ActionLink("Edit Profile", "EditProfile", new { id = Session["UseId"] })

        </div>



    }



    <div>
        @Html.ActionLink("Back To Main Page", "Index")
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="footer-logo">
                <a href="index.html">
                    <img src="~/Content/images/logo.png" alt="">
                </a>
            </div>
        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-4">
            <div class="copyright">
                <span>Copyright &copy; 2014 <a href="#">Company Name</a></span>
            </div>
        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-4">
            <ul class="social-icons">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-flickr"></a></li>
                <li><a href="#" class="fa fa-rss"></a></li>
            </ul>
        </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->

</body>
</html>
