@model IEnumerable<Travel.Models.PostsRequests>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />




    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.css")>

    <title>Posts Requests</title>
   
   
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <table class="table table-dark table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripImage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDestination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgencyName)
                </td>
                <td>
                    <img src="@Url.Content(item.TripImage)" width="150" height="150" class="img-fluid img-thumbnail">
                </td>
                <td>
                    @Html.ActionLink("Approve", "Approve", new { id = item.ID }) |
                    @Html.ActionLink("Disapprove", "Disapprove", new { id = item.ID }) |

                </td>
            </tr>
        }

    </table>
    <
</body>
</html>