@model IEnumerable<Travel.Models.Agencies>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.css")>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/animate.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/templatemo_misc.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/templatemo_style.css")>
    <title>ViewAgency</title>
</head>
<body>

    <div class="logo">
        <a href="#">
            <img src="~/Content/images/logo.png" alt="travel html5 template" title="travel html5 template">
        </a>
    </div> <!-- /.logo -->

    <button class="btn" onclick="location.href='@Url.Action("CreateAgency", "Admin" )'"><i class="fa fa-plus"></i> Add Agency S</button>

    <table class="table table-dark table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirtsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirtsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                >
                <td>


                    @Html.ActionLink("Delete", "DeleteAgency", new { id = item.ID })
                </td>
            </tr>
        }


    </table>


    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="~/Content/images/logo.png" alt="">
                        </a>
                    </div>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="copyright">
                        <span>Copyright &copy; 2014 <a href="#">Company Name</a></span>
                    </div>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <ul class="social-icons">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-flickr"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->



</body>
</html>
